body{
    font-family: 'Rubik', sans-serif;
}
.logo{
    font-family: 'Lobster', cursive;
}

h1{
    font-weight: 700;
}
h2{
    font-weight: 300;
}
.nombre{
    text-decoration: overline 2px;
}
.sobre-mi{
    text-decoration: overline 2px;
}

nav{
    background-color: #262626;
}
footer{
    background-color: #262626;
}

header{
    background-image: url("../img/BG-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.imagen-fondo{
    background-image: url("../img/bg_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 10rem 0;
    border-radius: 8px;
}
.ultimos-trabajos{
    background-color: #262626;
}